<div class="communicate-area {{#left}}left{{/left}}">
  <div class="feedback">
    {{#unless left}}
    <span class="feedback-arrow">&lt;</span>
    {{/unless}}
    <div class="feedback-label">
      {{{T "common:communicate.feedback"}}}
    </div>
    {{#left}}
    <span class="feedback-arrow">&gt;</span>
    {{/left}}
    <div class="feedback-popup">
      <textarea class="feedback-input scroll-panel"></textarea>
      <div class="feedback-separator"></div>
      <div class="rich-button feedback-submit">{{T "common:actions.submit"}}</div>
    </div>
  </div>
  <a class="group-chat" target="_blank" href="https://jq.qq.com/?_wv=1027&k=4Bo91kF">
    <img class="group-chat-icon" src="/imgs/default/group.png" />
    <br>{{{T "common:communicate.group_chat"}}}
  </a>
</div>
<script>
  window.sharePosition = {{#if left}}'left'{{else}}'right'{{/if}};
</script>
<script src="{{@basejs}}/libs/communicate.js"></script>
