<div class="top-actions">
  <a class="lobby-button" href="/main">{{T "common:navigator.lobby"}}</a>
  <a class="user-button" href="/view/user">{{T "common:navigator.user"}}</a>
  <a class="props-button" href="/view/props">{{T "common:navigator.props"}}</a>
  <a class="setting-button" href="/setting" style="display:none;">{{T "common:navigator.settings"}}</a>
  <a class="messages-button" href="/view/messages">{{T "common:navigator.messages"}}</a>
  <a class="recharge-button" href="/view/recharge">{{T "common:navigator.recharge"}}</a>
  <a class="help-button" href="/help">{{T "common:navigator.help"}}</a>
  <a class="logout-button" href="/logout">{{T "common:navigator.logout"}}</a>
</div>
