[Unit]
Description=Sudoku Game Service
After=network.target iptables.service mongodb.service

[Service]
Type=simple
User=root
ExecStart=/data/web/sudoku-game/centos/sudoku-game start
ExecStop=/data/web/sudoku-game/centos/sudoku-game stop
Restart=always

[Install]
WantedBy=multi-user.target