<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/game.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/libs3/jquery-ui.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs3/lodash.js"></script>
    <script src="{{@basejs}}/libs3/socket.io-1.7.0.min.js"></script>
    <script src="{{@basejs}}/libs/observable.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/event_center.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/treasure/components/game_model.js"></script>
    <script src="{{@basejs}}/libs/components/number_picker.js"></script>
    <script src="{{@basejs}}/libs/components/game_timer.js"></script>
    <script src="{{@basejs}}/libs/components/zoom_bar.js"></script>
    <script src="{{@basejs}}/libs/treasure/components/chessboard.js"></script>
    <script src="{{@basejs}}/libs/treasure/components/game_panel.js"></script>
    <script src="{{@basejs}}/libs/treasure/table.js"></script>
    {{{statsScript}}}
  </head>
  <body>
    <div id="game"></div>
    {{> communicate left=true }}
  </body>
</html>
