html, body {
  margin: 0;
  height: 100%;
  min-height: 900px;
  min-width: 1200px;
  color: #FFF;
  padding-right: 0px !important;
}

html {
  overflow: auto !important;
}

* {
  font-family: "Arial", "STHeiti ", "Microsoft YaHei";
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}

body {
  background: url(../../imgs/default/main_bg.png);
  background-size: cover;
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input, textarea {
  color: white;
  background-color: transparent;
  border: none;
  background-size: 100% 100%;
}

input:focus, textarea:focus {
  border: none;
  outline: none;
  color: #FFF000;
}

input[disabled=disabled], input[disabled=true], button[disabled=disabled], button[disabled=true], textarea[disabled=disabled], textarea[disabled=true] {
  color: gray !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.header {
  margin-top: 40px;
  height: 130px;
}

.header-user {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 5px;
}

.header-user-icon {
  display: inline-block;
  width: 110px;
  height: 110px;
  border: 5px solid #C4B098;
  border-radius: 60px;
  vertical-align: middle;
}

.header-user-icon img {
  width: 102px;
  height: 102px;
  margin-top: 4px;
  border-radius: 51px;
  background-color: #C4B098;
}

.header-user-info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: red;
  margin-left: 5px;
}

.header-user-info p {
  margin: 0px;
  line-height: 40px;
  font-size: 16px;
}

.top-actions {
  text-align: right;
  float: right;
  margin-right: 5%;
  margin-top: 10px;
}

.top-actions a {
  height: 55px;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
  line-height: 55px;
  color: white;
  font-size: 12px;
  text-align: center;
  background-image: url(/imgs/default/header_action_bg.png);
  background-size: 100% 100%;
  margin-left: 5px;
}

.top-actions a:hover {
  color: #FFF000;
}

.header-actions {
  background: url(/imgs/default/header_bg.png) no-repeat;
  margin-left: 20%;
  width: 80%;
  height: 130px;
  min-width: 1264px;
}

.header-actions a {
  float: left;
  height: 97px;
  width: 93px;
  vertical-align: middle;
  margin-top: 16px;
  margin-left: 63px;
  line-height: 97px;
  color: white;
  font-size: 18px;
  text-align: center;
  background-image: url(/imgs/default/header_action_bg.png);
}

.header-actions a:hover {
  color: #FFF000;
}

.header-actions a:first-of-type {
  margin-left: 42px;
}

.welcome {
  width: 50%;
  margin-left: 10%;
  position: relative;
  top: 20px;
}

.welcome .user-name {
  color: red;
  margin: 0px 3px 0px 3px;
}

.welcome .money {
  color: #FFF000;
  margin: 0px 3px 0px 3px;
}

.footer {
  height: 30px;
}

.scroll-panel::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 11px !important;
  border: 2px solid white !important;
  border-radius: 8px !important;
  background-color: #ccc !important
}

.scroll-panel::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  border: 2px solid white !important;
  background-color: rgba(0,0,0,.5) !important
}

label {
  display: inline;
  max-width: 100%;
  margin-bottom: 0px;
  font-weight: normal;
}

.modal {
  color: black;
}

.button {
  display: inline-block;
  *zoom: 1;
  padding: 8px 20px;
  color: white;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.25em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(/imgs/default/button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-open {
  overflow: visible;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.warning-dialog .modal-title {
  color: #f0ad4e;
  border-color: #f0ad4e;
}

.error-dialog .modal-title {
  color: #d9534f;
  border-color: #d9534f;
}

.button:hover, .button:focus, .button:active, .button.active {
  background-image: url(/imgs/default/button_hover.png);
  color: #FFF000;
  border: none;
  outline: none;
}

.button.disabled, .button[disabled] {
  background-image: url(/imgs/default/button.png) !important;
  color: #E2E2E2;
  cursor: default;
  opacity: 0.8;
}

.player-tip {
  position: absolute;
  z-index: 999;
  width: 120px;
  height: 120px;
  background: url(../../imgs/default/player_tip_bg.svg);
}

.player-tip-content {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  color: black;
}

.player-tip-content * {
  font-size: 14px !important;
}

.player-tip-row {
  margin-top: 3px;
  margin-bottom: 5px;
}

.player-tip-name {
  display: inline-block;
  width: 50%;
  margin-left: 5%;
  text-align: left;
}

.player-tip-value {
  display: inline-block;
  width: 40%;
  text-align: left;
}

.common-container {
  margin: auto;
  margin-top: 30px;
  width: 500px;
}

.common-header .welcome {
  float: right;
  font-size: 20px;
  margin-top: 8px;
}

.common-header .logo {
  width: 159px;
  height: 54px;
  background: url(/imgs/default/logo.png);
  display: inline-block;
  vertical-align: middle;
}

.common-header .game-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.common-separator {
  margin-top: 5px;
  margin-bottom: 25px;
}

.common-separator .above {
  height: 2px;
  background: white;
  margin-bottom: 2px;
}

.common-separator .below {
  height: 1px;
  background: white;
}

.common-content {
  width: 400px;
  margin: auto;
}

.common-content p {
  line-height: 30px;
}

.common-actions {
  margin-top: 20px;
  text-align: center;
}

.ok-sign {
  width: 20px;
  height: 19px;
  background: url(/imgs/default/right.png);
  display: none;
  margin-left: 10px;
  vertical-align: middle;
}

.ok-sign.wrong {
  background: url(/imgs/default/wrong.png);
}

.rich-button {
  display: inline-block;
  *zoom: 1;
  padding: 8px 20px;
  color: white;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.25em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(/imgs/default/rich_button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
}

.rich-button:hover, .rich-button:focus, .rich-button:active, .rich-button.active {
  color: #FFF000;
  border: none;
  outline: none;
}

.rich-button.disabled, .rich-button[disabled] {
  cursor: default;
  color: gray;
  opacity: 0.65;
}

.navigator .item {
  cursor: pointer;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
}

@keyframes fade
{
from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

@-webkit-keyframes
fade {from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

.pagination-bar {
  text-align: center;
}

.pagination-bar > * {
  display: inline-block;
  vertical-align: middle;
}

.pagination-bar .previous-arrow, .pagination-bar .next-arrow {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.pagination-bar .previous-arrow:hover, .pagination-bar .next-arrow:hover {
  color: #FFF000;
}

.pagination-bar .page-item {
  color: white;
  width: 24px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 4px;
}

.pagination-bar .page-item:hover {
  background-color: #3781c4;
}

.pagination-bar .page-item.ellipsis {
  cursor: default;
  background-color: inherit !important;
}

.pagination-bar .page-item.selected {
  background-color: #3781c4;
  color: #FFF000;
}

.pagination-bar .edit-goto {
  display: none;
  background-color: rgba(0,61,232,0.3);
  padding-right: 3px;
  color: #FFF000;
  height: 20px;
  font-size: 12px;
  border: 1px solid gray;
  text-align: center;
  width: 40px;
}

.pagination-bar.editable .edit-goto {
  display: inline-block;
}

.pagination-bar .current {
  width: 40px;
  text-align: center;
}
.pagination-bar.editable .current {
  display: none;
}
