html, body {
  overflow-x: hidden !important;
}

body {
  min-height: 1200px;
  font-size: 16px;
}

.game-panel {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

.game-state-area {
  position: fixed;
  top: 10%;
  min-width: 230px;
  right: 0px;
  width: 13%;
  padding: 10px 0px 10px 10px;
  background-image: url(/imgs/default/chat_bg.png);
  background-size: 100% 100%;
  transition: right 0.5s;
  z-index: 5000;
}

.game-state-area > * {
  margin: auto;
}

.game-remaining-time {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.game-remaining-time.warning {
  animation: fade 1s infinite ease-in-out;
  -webkit-animation: fade 1s infinite ease-in-out;
  color: red;
}

.player-area {
  text-align: center;
}

.game-player {
  width: 23%;
  display: inline-block;
  margin-top: 10px;
}

.game-player.active {
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  color: #FFF000;
  font-weight: bold;
}

.game-player * {
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.game-player.quit img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.game-player.quit * {
  color: gray;
}

.game-player-icon {
  background: #C7D2D6;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.game-player.active .game-player-icon {
  border: 2px solid #FBED0C;
  border-radius: 20px;
  box-sizing: border-box;
}

.game-player-icon img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 4px;
}

.game-state-separator {
  width: 85%;
  height: 1px;
  background: #005f96;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.active-status {
  position: absolute;
  right: 0px;
  top: 2%;
  width: 70px;
  height: 80px;
  background-image: url(/imgs/default/light_off.png);
  background-size: 100% 100%;
}

.active-status[active=true] {
  background-image: url(/imgs/default/light_on.png);
}

.game-state-separator.light {
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-ranking-table {
  width: 90%;
  text-align: center;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 2px;
}

.game-ranking-table th {
  text-align: center;
}

.game-ranking-table .quit {
  color: gray;
}

.game-chat-messages {
  height: 130px;
  padding: 20px 10px 10px 10px;
  width: 80%;
  overflow: hidden;
  font-size: 10px;
  background-image: url(/imgs/default/messages_bg.png);
  background-size: 100% 100%;
}

.game-chat-messages-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.game-message-input {
  height: 60px;
  display: block;
  padding: 20px 10px 10px 10px;
  font-size: 12px;
  width: 80%;
  margin-bottom: 20px;
  color: #FFF000;
  background-image: url(/imgs/default/post_messages_bg.png);
  background-size: 100% 100%;
  background-color: inherit;
  border: none;
  resize: none;
}

.game-message-input:focus {
  border: none;
  outline: none;
}

.game-message-item {
  margin-bottom: 5px;
}

.game-message-from-system .game-message-item-content {
  color: white;
}

.game-message-from-0 .game-message-item-content {
  color: #0C0;
}

.game-message-from-1 .game-message-item-content {
  color: #F60;
}

.game-message-from-2 .game-message-item-content {
  color: #FF0;
}

.game-message-from-3 .game-message-item-content {
  color: #06C;
}

.game-message-from-4 .game-message-item-content {
  color: #699;
}

.game-message-from-5 .game-message-item-content {
  color: #F00;
}

.game-message-from-6 .game-message-item-content {
  color: #909;
}

.game-message-item-header {
  color: rgb(65, 147, 236);
}

.game-message-item-content {
  padding-left: 5px;
}

.game-state-actions {
  width: 65%;
  margin: auto;
}

.game-state-actions input {
  width: 45%;
}

.game-quit-button {
  float: right;
}

.game-state-hide-button {
  position: absolute;
  top: 46%;
  left: -15px;
  height: 60px;
  line-height: 40px;
  width: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
  z-index: 999;
  background-image: url(/imgs/default/hide_chat.png);
  background-size: 100% 100%;
}

.game-main-area {
  min-height: 600px;
}

.game-waiting {
  margin: auto;
  position: relative;
  text-align: center;
  top: 250px;
}

.game-waiting-info {
  font-size: 20px;
  margin-bottom: 10px;
}

.game-waiting-countdown {
  font-size: 16px;
  color: red;
  margin-bottom: 20px;
}

.game-start-button {
  margin: auto;
  display: block;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  color: #96A4AD;
  font-size: 16px;
  font-weight: bold;
}

.game-countdown-number {
  font-size: 250px;
  position: absolute;
  top: 30%;
  left: 46%;
  text-align: center;
}

.destroy-countdown-label {
  text-align: center;
}

.destroy-countdown-number {
  color: red;
}

.chessboard-area {
  width: 900px;
  height: 900px;
}

.chessboard-container {
  position: relative;
  margin: 0 auto;
}

.chessboard-container .game-zoom {
  position: absolute;
  left: -16%;
  top: 36%;
  cursor: pointer;
  z-index: 100;
}

.chessboard-actions {
  position: absolute;
  top: 20%;
  left: -6%;
  z-index: 100;
}

.chessboard-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.chess-cell.selected {
  background: white !important;
  outline: #FD8C04 ridge 2px;
  z-index: 1000;
}

.chess-cell {
  width: 90%;
  height: 90%;
  position: absolute;
  text-align: center;
  background: white;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.chessboard-panel.inactive .chess-cell {
  background: #adbcd3;
}

.chess-cell.has-value {
  cursor: default;
}

.chessboard-container.draft .chessboard-panel.inactive .chess-cell {
  background: #79b693;
}

.chessboard-container.draft .chessboard-panel.active .chess-cell {
  background: #b0dac3;
}

.chess-cell > * {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.chess-cell-value {
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.05rem;
  border-radius: inherit;
  z-index: 300;
}

.chess-cell-value.init {
  color: #595656;
}

.chessboard-container.draft .chess-cell-value.init {
  color: #09377b;
}

@keyframes correct
{
from {
  box-shadow: 0px 0px 0px 0px #05B522;
  background: white;
  z-index: 999;
}
to {
  box-shadow: 0px 0px 5px 5px #05B522;
  background: white;
  z-index: 999;
}
}

@-webkit-keyframes
correct {from {
  box-shadow: 0px 0px 0px 0px #05B522;
  background: white;
  z-index: 999;
}
to {
  box-shadow: 0px 0px 5px 5px #05B522;
  background: white;
  z-index: 999;
}
}

@keyframes
incorrect {from {
  box-shadow: 0px 0px 0px 0px red;
  background: white;
  z-index: 999;
}
to {
  box-shadow: 0px 0px 5px 5px red;
  background: white;
  z-index: 999;
}
}

@-webkit-keyframes
incorrect {from {
  box-shadow: 0px 0px 0px 0px red;
  background: white;
  z-index: 999;
}
to {
  box-shadow: 0px 0px 5px 5px red;
  background: white;
  z-index: 999;
}
}

@keyframes
known-cell {from {
  box-shadow: 0px 0px 0px 0px #607E02;
  z-index: 999;
}
to {
  box-shadow: 0px 0px 5px 5px #607E02;
  z-index: 999;
}
}

@-webkit-keyframes
known-cell {from {
  box-shadow: 0px 0px 0px 0px #607E02;
  z-index: 999;
}
to {
  box-shadow: 0px 0px 5px 5px #607E02;
  z-index: 999;
}
}

.correct {
  animation: correct 1s;
  -webkit-animation: correct 1s;
}

.incorrect {
  animation: incorrect 1s;
  -webkit-animation: incorrect 1s;
}

.known-cell {
  animation: known-cell 1s;
  -webkit-animation: known-cell 1s;
}

.chess-cell-value.user {
  color: #05B522;
}

.chessboard-container.draft .chess-cell-value.user {
  color: #0a2a16;
}

.chess-cell-value.known {
  color: #607E02;
  border: 1px solid #607E02;
  border-radius: 3px;
  box-sizing: border-box;
}

.chess-cell-options {
  color: #4193ec;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background-color: inherit;
  border-radius: inherit;
  z-index: 100;
}

.chessboard-container.draft .chess-cell-options {
  color: #e60012;
}

.chess-cell-no-options {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 0.75rem;
  line-height: 1.05rem;
}

.chess-cell-options-cell {
  width: 50%;
  height: 50%;
  float: left;
  text-align: center;
  font-size: 0.35rem;
  line-height: 0.5rem;
  font-weight: bold;
}

.chessboard-container.draft .chess-cell .chess-cell-value {
  display: none;
}

.chessboard-container.draft .chess-cell .chess-cell-draft {
  display: block;
}

.chess-cell.has-value .chess-cell-value {
  display: block !important;
}

.chessboard-container.options .chess-cell .chess-cell-value {
  display: none;
}

.chessboard-container.options .chess-cell .chess-cell-options {
  display: block;
}

.chess-cell-draft {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  color: #FD8C04;
  z-index: 200;
  background-color: inherit;
  border-radius: inherit;
}

.chess-cell-draft-one {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 0.75rem;
  line-height: 1.05rem;
}

.chess-cell-draft-cell {
  width: 50%;
  height: 50%;
  float: left;
  text-align: center;
  font-size: 0.35rem;
  line-height: 0.5rem;
  font-weight: bold;
}

.chessboard-view-mode {
  margin-top: 6px;
}

.chessboard-submit-mode-action, .chessboard-plain-mode-action {
  border-radius: 15px 0px 0px 15px;
}

.chessboard-draft-mode-action, .chessboard-options-mode-action {
  border-radius: 0px 15px 15px 0px;
}

.pass-action {
  width: 100px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0px;
  bottom: 5%;
  color: white;
  background-image: url(/imgs/default/pass.png);
  background-size: 100% 100%;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.pass-action:hover {
  color: #FFF000;
}

.action-active {
  color: #fff100;
}

.game-timer-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 100;
}

.number-picker {
  display: none;
  z-index: 9999;
  position: absolute;
  width: 96px;
  height: 96px;
  background: rgba(96,96,96,1);
  box-shadow: 0 0 0 2px #999;
}

.number-picker-cell {
  float: left;
  background: #8798A2;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  margin: 1px;
}

.number-picker-cell:hover {
  color: #8798A2;
  background: white;
}

.number-picker-cell.disabled {
  color: gray;
  background: #8798A2;
  cursor: default;
}

.score-message {
  position: absolute;
  display: none;
  width: 300px;
  z-index: 999;
  font-weight: bold;
  color: #FD8C04;
  text-align: center;
  text-shadow: 0 0 20px gray;
}

.correct-message {
  font-size: 30px;
}

.timeout-message, .impunity-message {
  font-size: 40px;
}

.incorrect-message {
  font-size: 30px;
}

.pass-message {
  font-size: 40px;
  width: 15%;
  right: 1%;
  bottom: 15%;
}

.game-timer-panel {
  left: 5%;
}

.game-timer {
  width: 88px;
  height: 88px;
  border-radius: 44px;
  background: #E3E9E9;
  position: relative;
}

.game-timer-background {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 34px;
  top: 10px;
  left: 10px;
  color: #6B7D91;
  box-shadow: 1px 1px 1px 1px #999;
  background: white;
}

.game-timer-delay {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 0px;
  top: 0px;
  background: url(../../imgs/default/delay.png);
  background-size: 88px 88px;
  z-index: 1000;
}

.game-timer-background svg {
  width: 100%;
  height: 100%;
}

.game-results-table * {
  text-align: center;
}

.remaining-time {
  position: absolute;
  z-index: 100;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  top: 22px;
  left: 22px;
  color: #6B7D91;
  box-shadow: -1px 1px 1px 1px #999;
  background-image: linear-gradient(to bottom, #fdfdfd, #e3e3e3);
}

.max-timeout-countdown-number, .close-countdown-number {
  color: red;
  font-weight: bold;
}

.props {
  position: absolute;
  left: 10px;
  bottom: -20px;
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-color: #0079bb;
  border-width: 1px;
  z-index: 100;
  height: auto !important;
  width: auto !important;
}

.props li {
  list-style: none;
  padding: 8px 16px 8px 16px;
  position: relative;
  background-color: rgba(0,61,232,0.3);
  border-width: 0px 0px 1px 0px;
  border-color: #0079bb;
  border-style: solid;
  box-sizing: border-box;
}

.props li:last-of-type {
  border: none;
}

.props li .prop-item-tip {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: none;
  background: #E3E9E9;
  color: #5a5e65;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #D0D0D0;
  z-index: 100;
}

.props li.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.props li.prop-item.empty {
  opacity: 0.5;
  color: gray;
}

.props li.prop-item.empty img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.props li .prop-item-content {
  display: block;
  height: 100%;
  cursor: default;
}

.props li.active .prop-item-content {
  cursor: pointer;
}

.props li .prop-item-content img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.props li * {
  vertical-align: middle;
}

.zoom-bar {
  width: 26px;
  height: 220px;
  border: 1px solid #0079bb;
  background-color: rgba(0,61,232,0.3);
}

.zoom-bar .zoom-button {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 0px;
  height: 24px;
  padding: 0px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
}

.zoom-bar .zoom-button:hover {
  color: #FFF000;
}

.zoom-bar .zoom-in-button {
  border-bottom: 1px solid #0079bb;
}

.zoom-bar .zoom-out-button {
  border-top: 1px solid #0079bb;
}

.zoom-bar .zoom-area {
  width: 100%;
  height: 172px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
}

.zoom-bar .zoom-ruler {
  height: 152px;
  margin: auto;
  margin-top: 10px;
  width: 18px;
  position: relative;
}

.zoom-bar .zoom-line {
  width: 8px;
  height: 152px;
  background: #e5e9f2;
  border: 1px solid #d9dfeb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: auto;
  z-index: 9;
  position: relative;
}

.zoom-bar .zoom-value {
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #0c88e8;
}

.zoom-bar .zoom-scale {
  width: 100%;
  height: 2px;
  background: #d9dfeb;
  position: absolute;
  left: 0px;
}

.zoom-bar .zoom-marker {
  width: 24px;
  height: 10px;
  border: 1px solid #afb0b3;
  position: absolute;
  background: #FFF000;
  left: -3px;
  z-index: 10;
  color: red;
  line-height: 10px;
  font-weight: 900;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
}

.chessboard-container.big .chessboard-actions {
  left: 0%;
  top: 26%;
}

.chessboard-container.big .props {
  font-size: 0px;
  width: 141px !important;
  left: -2%;
  bottom: 20%;
  border-width: 1px 0px 0px 1px;
}

.chessboard-container.big .props li {
  display: inline-block;
  padding: 5px;
  border-width: 0px 1px 1px 0px;
  border-color: #0079bb;
  border-style: solid;
}

.chessboard-container.big .props li .prop-item-content img {
  margin: 0px;
  width: 36px;
  height: 36px;
}

.chessboard-container.big .props li:hover .prop-item-tip {
  display: block;
  opacity: 1;
}

.award {
  border: 1px solid #FFD700;
  border-radius: 20px;
  padding: 8px 16px;
  margin-bottom: 10px;
}

.award .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #FFD700;
}

.award .award-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.award .award-label span {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  color: #FFD700;
}

.award .award-prop {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}

.award .award-prop .icon {
  width: 32px;
  height: 32px;
}

.award .award-prop > * {
  display: inline-block;
  vertical-align: middle;
}

.award .award-prop .text span {
  color: #FFD700;
  font-weight: bold;
}

.always-above {
  z-index: 999;
}
