.main {
  position: relative;
  top: 60px;
  clear: both;
  min-height: 350px;
}

.navigator {
  float: left;
  width: 13%;
  margin-left: 5%;
}

.help-container {
  width: 60%;
  margin-left: 22%;
}

.help-container .game-spec h3 {
  text-indent: 1em;
}

.help-container .game-spec p {
  text-indent: 3em;
  font-size: 16px;
}

.help-container .game-spec img {
  display: block;
  margin-left: 5em;
  margin-bottom: 10px;
  width: 450px;
  height: 450px;
}

.help-container .how-to-play h2 {
  text-align: center;
}

.help-container .how-to-play img {
  width: 100%;
  margin: auto;
}

.help-container .how-to-play ul {
  list-style: decimal;
  margin-top: 20px;
  font-size: 16px;
}

.help-container .how-to-play ul li {
  margin-bottom: 5px;
}

.help-container .how-to-play ul li span {
  font-weight: bold;
  color: green;
}

.help-container .grade-spec table {
  margin-left: 2em;
  font-size: 16px;
}

.help-container .grade-spec table tr {
  height: 30px;
  line-height: 30px;
}

.help-container .grade-spec table th {
  width: 80px;
}

.help-container .grade-spec p {
  font-size: 16px;
  text-indent: 2em;
}

.help-container .system-spec ul {
  font-size: 16px;
}

.help-container .system-spec ul li {
  margin-bottom: 8px;
}

.help-container .system-spec ul li span {
  font-weight: bold;
  color: green;
}

.help-container .constellation-spec ul {
  font-size: 16px;
}

.help-container .constellation-spec ul li {
  margin-bottom: 8px;
}

.help-container .constellation-spec ul li span {
  font-weight: bold;
  color: green;
}

.help-container .contact-us {
  width: 60%;
}

.bottom-actions {
  width: 80%;
  margin: auto;
  text-align: right;
  position: relative;
  top: 60px;
}
