.lobby {
  margin-top: 30px;
}

.lobby-nav {
  width: 20%;
  float: left;
  text-align: center;
}

.lobby-nav-rooms {
  width: 278px;
  height: 879px;
  display: inline-block;
  background: url(../../imgs/default/lobby_nav_bg.png) no-repeat;
}

.lobby-nav-room {
  width: 173px;
  height: 51px;
  line-height: 51px;
  color: white;
  text-align: center;
  cursor: pointer;
  background: url(../../imgs/default/lobby_nav_room_bg.png) no-repeat;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lobby-nav-room.active {
  color: #FFF000;
}

.lobby-content {
  width: 80%;
  margin-left: 20%;
}

.lobby-room {
  display: none;
}

.lobby-room.active {
  display: block;
}

.lobby-game {
  display: inline-block;
  width: 360px;
  height: 380px;
  position: relative;
  margin: 25px;
}

.lobby-table {
  width: 135px;
  height: 133px;
  background: url(../../imgs/default/lobby_table.png) no-repeat;
  position: absolute;
  top: 120px;
  left: 112px;
  text-align: center;
  display: table;
}

.lobby-table-content {
  display: table-cell;
  height: 133px;
  vertical-align: middle;
}

.lobby-player {
  position: absolute;
}

.lobby-player.empty {
  background: url(../../imgs/default/lobby_seat.png) no-repeat;
  width: 47px;
  height: 45px;
}

.lobby-game.empty .lobby-player.north {
  cursor: pointer;
}

.lobby-player.empty.north {
  top: 35px;
  left: 156px;
}

.lobby-player.empty.east {
  top: 164px;
  left: 287px;
}

.lobby-player.empty.south {
  top: 293px;
  left: 156px;
}

.lobby-player.empty.west {
  top: 164px;
  left: 25px;
}

.lobby-game-form .modal-dialog {
  width: 700px;
  height: 500px;
  background: url(../../imgs/default/lobby_game_form_bg.png) no-repeat;
  background-size: 700px 500px;
  overflow: hidden;
  color: white;
  font-size: 16px;
}

.lobby-game-form .close {
  width: 30px;
  height: 30px;
  margin-top: 28px;
  margin-right: 28px;
  background: url(../../imgs/default/lobby_game_form_close.png) no-repeat;
  background-size: 30px 30px;
}

.lobby-game-form .content {
  width: 400px;
  height: 350px;
  margin: auto;
  margin-top: 70px;
}

.lobby-game-form .name {
  width: 30%;
  text-align: left;
}

.lobby-game-form .value {
  width: 65%;
}

.lobby-game-form .value > * {
  vertical-align: middle;
}

.lobby-game-form .value select {
	width: 100%;
	border-radius: 5px;
	color: blue;
}

.lobby-game-form .value input[type=radio]:last-of-type {
	margin-left: 10px;
}

.lobby-game-form .lobby-game-form-row > * {
  display: inline-block;
  vertical-align: middle;
}

.lobby-game-form .lobby-game-form-row {
  margin-bottom: 30px;
}

.lobby-game-form  .confirm {
	width: 131px;
	height: 51px;
	line-height: 51px;
	background: url(../../imgs/default/form_confirm.png) no-repeat;
	margin: auto;
	display: block;
	border: none;
	outline: none;
	padding: 0px;
}

.lobby-game-form  .confirm:hover {
	color: #FFF000
}
