.welcome {
	margin-top: 20px;
	margin-right: 10%;
	float: right;
}

.navigator {
	float: left;
	width: 12%;
	margin-left: 10%;
}

.navigator .item {
	cursor: pointer;
	font-size: 1.2em;
	color: white;
	text-align: center;
	background: gray;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px;
}

.navigator .item.active {
	background: white;
	color: gray;
}

.main {
	position: relative;
	top: 60px;
	clear: both;
}

.main .container {
	margin-left: 25%;
}

.main .container .card {
	display: none;
	width: 85%;
}

.main .container .card.active {
	display: block;
}

.main .container .item {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
	width: 32%;
}

.main .container .store .item .count img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.main .container .store .item .count input {
	width: 40px;
	vertical-align: middle;
	text-align: center;
}

.main .container .store .item .actions input{
	font-size: 14px;
	margin-left: 20%;
	padding-left: 25px;
	padding-right: 25px;
}

.main .container .item > * {
	margin-bottom: 15px;
}

.main .container .my-prop .my-count * {
	vertical-align: middle;
	margin-right: 5px;
}

.bottom-actions {
	position: relative;
	top: 150px;
}

.bottom-actions .back {
	background: #d58512;
	color: #FFF;
	float: right;
	margin-right: 20%;
	height: 30px;
	width: 5%;
	box-shadow: 2px 2px 2px #888888;
}
