#recharge {
  margin-top: 80px;
}

.recharge-panel .navigator {
  float: left;
  width: 12%;
  margin-left: 10%;
}

.recharge-panel .recharge-container {
  margin-left: 27%;
  width: 60%;
  min-width: 600px;
}

.recharge-panel .recharge-back {
  margin-top: 30px;
  margin-left: 80%;
}

.recharge-container {
  background-color: rgba(0,61,232,0.3);
  border: 1px solid #296db6;
  border-radius: 15px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.recharge-container .item {
  display: none;
}

.recharge-container .item.active {
  display: block;
}

.recharge-balance {
  height: 300px;
}

.balance-content {
  margin-top: 120px;
  font-size: 25px;
  padding-left: 50px;
}

.balance-content .hello span {
  color: #f8b62b;
}

.balance-content .amount span {
  color: #FFF000;
  margin: 0px 5px;
}

.balance-content .amount {
  text-indent: 2em;
}

.recharge-steps {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #042d82;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.recharge-step {
  display: inline-block;
  vertical-align: middle;
}

.recharge-step span {
  display: inline-block;
  vertical-align: middle;
}

.recharge-step-icon {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #004a7e;
  border: 2px solid #4f577d;
  margin-right: 10px;
}

.recharge-step.active .recharge-step-icon {
  border-color: white;
  background-color: #00a0e9;
}

.recharge-step-label {
  margin-right: 20px;
  color: #51597f;
}

.recharge-step.active .recharge-step-label {
  color: white;
}

.recharge-step-component {
  font-size: 16px;
  display: none;
}

.recharge-step-component.active {
  display: block;
}

.genius-currency-label {
  width: 180px;
  text-align: right;
}

.genius-currency-container {
  margin-left: 190px;
}

.recharge-separator {
  height: 1px;
  background-color: #042d82;
  margin-top: 20px;
  margin-bottom: 20px;
}

.genius-currency-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.genius-currency-row * {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px !important;
}

.genius-currency-row input[type=radio] {
  margin-right: 10px;
}

.genius-currency-value {
  margin-right: 10px;
  color: #FFF000;
}

.genius-currency-row.custom input[type=text] {
  width: 80px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  background-color: rgba(0,61,232,0.3);
  color: #FFF000;
  border: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
}

.recharge-money-label {
  display: inline-block;
  width: 180px;
  text-align: right;
}

.recharge-money-value {
  display: inline-block;
  margin-left: 10px;
  color: #FFF000;
}

.recharge-target-label {
  margin-top: 10px;
  width: 180px;
  text-align: right;
}

.recharge-target {
  margin-left: 190px;
}

.recharge-target-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.recharge-target-row > * {
  display: inline-block;
  vertical-align: middle;
}

.recharge-target-row input[type=radio] {
  margin-right: 10px;
  margin-top: 0px;
}

.recharge-target-row.other input[type=text] {
  width: 100px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  background-color: rgba(0,61,232,0.3);
  color: #FFF000;
  border: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
}

.recharge-steps-actions {
  text-align: right;
  margin-top: 20px;
}

.pay-method-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pay-method-row {
  padding-left: 50px;
  margin-bottom: 20px;
}

.pay-method-row .name {
  margin-right: 10px;
}

.pay-method-row.money .value {
  margin-right: 10px;
  color: #FFF000;
}
