input {
  padding-left: 5px;
  background-color: rgba(0,61,232,0.3);
  border: 1px solid gray;
}

input:focus {
  border: 1px solid gray;
}

.reset-row {
  margin-bottom: 25px;
}

.reset-row > * {
  display: inline-block;
  vertical-align: middle;
}

.reset-row .ok-sign {
  display: none;
}

.reset-name {
  width: 80px;
}

.reset-value {
  width: 230px;
  border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
}
