#setting {
	margin-top: 50px;
}

.header {
	margin-top: 10px;
	height: 32px;
}

.header a {
	float: right;
	line-height: 32px;
	height: 32px;
	margin-left: 20px;
	text-decoration: none;
}

.header a * {
	vertical-align: middle;
	margin-left: 5px;
	color: #FFF;
}

.logout-button {
	margin-right: 20%;
}
