input {
  padding-left: 5px;
  background-color: rgba(0,61,232,0.3);
  border: 1px solid gray;
}

input:focus {
  border: 1px solid gray;
}

.signup-form {
  width: 450px;
  margin: auto;
}

.signup .common-header .welcome {
  top: 20px;
}

.signup-row {
  margin-bottom: 25px;
}

.signup-row > * {
  display: inline-block;
  vertical-align: middle;
}

.signup-row .ok-sign {
  display: none;
}

.signup-name {
  width: 100px;
}

.signup-value {
  width: 300px;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 3px;
}

.signup-form .vcode .signup-value {
  width: 80px;
}

.vcode img {
  width: 80px;
  height: 30px;
  margin-right: 10px;
}

.vcode a {
  color: #fff100;
}

.protocol-read {
  font-size: 10px;
}

.protocol-read > * {
  display: inline-block;
  vertical-align: middle;
}

.protocol-read .protocol,
.protocol-read .law {
  color: #fff100;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

.protocol-read input {
  margin-left: 60px;
  margin-right: 5px;
  margin-top: 0px;
}

.common-actions {
  text-align: center;
}

.common-actions button {
  margin-right: 50px;
}

.mandatory-sign {
  display: inline-block;
  vertical-align: middle;
  color: red;
}

.lang-jp .signup-form {
  width: 480px;
}

.lang-jp .signup-name {
  width: 140px;
}

.lang-jp .signup-value {
  width: 310px;
}

.lang-jp .protocol-read {
  font-size: 12px;
}
