input {
  padding-left: 5px;
  background-color: rgba(0,61,232,0.3);
  border: 1px solid gray;
}

input:focus {
  border: 1px solid gray;
}

.main {
  width: 50%;
  margin: auto;
  margin-top: 80px;
}

.info {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.icon {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.icon > * {
  display: block;
  margin: auto;
}

.icon img {
  background: white;
  border: 1px solid gray;
  margin-bottom: 5px;
  width: 128px;
  height: 128px;
}

.icon-actions {
  margin-top: 20px;
}

.default-icons {
  width: 150px;
  border: 1px solid gray;
  font-size: 0px;
  margin-top: 10px;
  display: none;
}

.default-icons.show {
  display: block;
}

.default-icons img {
  display: inline-block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin: 0px;
  cursor: pointer;
}

.default-icons img.selected {
  background: #C4B098;
}

.default-icons img:hover {
  background: #006599;
}

.change-icon-action {
  margin-right: 20px;
}

.info-row * {
  font-size: 1.2em;
  vertical-align: middle;
}

.info-row {
  margin-bottom: 10px;
}

.info-row .name {
  margin-right: 10px;
}

.info-row .value {
  margin-right: 10px;
}

.info-row input {
  font-size: 0.8em;
}

.info-row .value-field {
  display: none;
}

.info-row .confirm {
  display: none;
}

.info-row .cancel {
  display: none;
}

.info-row.edit .modify-button {
  display: none;
}

.info-row.edit .value {
  display: none;
}

.info-row.edit .value-field {
  display: inline;
}

.info-row.edit .confirm {
  display: inline;
}

.info-row.edit .cancel {
  display: inline;
}

.info-row .value-field {
  width: 70px;
  height: 25px;
  text-align: center;
  font-size: 1em;
}

.actions {
  margin-top: 10px;
}

.actions input {
  width: 12%;
  margin-right: 20px;
  font-size: 1em;
}

.bottom {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.bottom .close-button {
  float: right;
  width: 12%;
  font-size: 1em;
}

.upload-icon-container {
  width: 560px;
  margin: auto;
}

.upload-icon-display {
  height: 300px;
  width: 558px;
  line-height: 300px;
  font-size: 40px;
  color: gray;
  text-align: center;
  border: 1px solid #E2E2E2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.select-icon {
  vertical-align: middle;
}

.select-icon .btn {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.upload-icon-cutter {
  display: none;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.5;
  position: relative;
}

.upload-icon-cutter > * {
  position: absolute;
}

.dragger-left, .dragger-right, .dragger-top, .dragger-bottom {
  background: red;
}

.dragger-left, .dragger-right {
  cursor: e-resize;
  width: 3px;
}

.dragger-top, .dragger-bottom {
  cursor: n-resize;
  height: 3px;
}

.inner-icon-container {
  overflow: hidden;
  cursor: move;
}

.inner-icon-display {
  height: 300px;
  width: 558px;
  line-height: 300px;
  font-size: 40px;
  color: gray;
  position: absolute;
  text-align: center;
  border: 1px solid #E2E2E2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.upload-icon-container .progress {
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

.upload-action {
  margin-top: 20px;
  text-align: center;
}

.upload-action .btn {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.upload-action input {
  width: 66px;
  height: 42px;
  opacity: 0;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
}
