html, body {
  height: 100%;
}

.welcome-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -9999;
  background-color: #0a0a0a;
}

.welcome-top {
  position: fixed;
  top: 0;
}

.welcome-area {
  width: 90%;
  max-width: 1200px;
  height: 500px;
  margin: auto;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.content {
  font-size: 0px;
}

.video-area {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  padding: 17px 29px 26px 36px;
  box-sizing: border-box;
  background: url(../../imgs/default/welcome/video_bg.png) no-repeat top left;
  background-size: 100% 100%;
}

.video-area video {
  width: 100%;
}

.author-area {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  box-sizing: border-box;
}

.welcome-area .super-genius {
  width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 0px;
}

.author-area .super-genius .logo {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  float: none;
}

.author-area .super-genius .logo img {
  width: 100%;
}

.author-area .super-genius .arrow {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.author-area .author {
  width: 95%;
  display: block;
  margin: auto;
}

.welcome-bottom {
  text-align: center;
}

.welcome-bottom .start {
  background-image: url(../../imgs/default/welcome/start_cn.gif);
  width: 150px;
  height: 50px;
  margin-top: 50px;
  display: inline-block;
  padding: 8px 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
}

.lang-jp .welcome-bottom .start {
  background-image: url(../../imgs/default/welcome/start_jp.gif);
  padding: 0px;
  width: 280px;
  height: 160px;
  margin-top: 10px;
}

.lang-en .welcome-bottom .start {
  background-image: url(../../imgs/default/welcome/start_en.gif);
  padding: 0px;
  width: 250px;
  height: 140px;
  margin-top: 0px;
}
