html, body {
	margin: 0;
	height: 100%;
	min-height: 900px;
	min-width: 1200px;
	color: #FFF;
}

* {
	font-family: "STHeiti ", "Microsoft YaHei";
}

body {
	background: -webkit-radial-gradient(#C7D2D6, #96A4AD);
	background: radial-gradient(#C7D2D6, #96A4AD);
}

.header {
	margin-top: 10px;
	height: 32px;
}

.header a {
	float: right;
	line-height: 32px;
	height: 32px;
	text-decoration: none;
}

.header a * {
	vertical-align: middle;
	margin-left: 5px;
	color: #FFF;
}

.logout-button {
	margin-left: 20px;
	margin-right: 20%;
}

.footer {
	height: 30px;
}

.setting-panel .setting-title {
	font-size: 25px;
}

.setting-panel .add-button {
	margin-left: 30px;
}

.setting-panel>a {
	line-height: 24px;
	height: 24px;
	text-decoration: none;
	margin-left: 10px;
}

.setting-panel>a * {
	vertical-align: middle;
	color: #FFF;
}

.setting-panel .add-rule-separator {
	height: 2px;
	background: gray;
	opacity: 0.3;
	margin-bottom: 10px;
	margin-top: 10px;
}

.setting-panel .add-rule-collapsed-button {
	float: right;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
}

.setting-panel .add-rule-item.collapsed .add-rule-content {
	display: none;
}

.setting-panel .add-rule-item>label {
	margin-left: 10px;
}

.setting-panel .add-rule-content {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.setting-panel .add-rule {
	margin-bottom: 20px;
}

.setting-panel input {
	color: #96A4AD;
	text-align: center;
}

.setting-panel .add-rule-list {
	display: inline-block;
	width: 50%;
}

.setting-panel .reduce-rule-row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.setting-panel .reduce-rule-row label {
	display: inline-block;
	text-align: right;
	width: 25%;
}

.setting-panel .reduce-rule-row input {
	display: inline-block;
	margin-left: 3%;
	width: 25%;
}

.setting-panel .add-rule-list-label {
	float: left;
	width: 15%;
	margin-top: 5px;
}

.setting-panel .add-rule-item-actions {
	display: inline-block;
	height: 16px;
	width: 25%;
}

.setting-panel .add-rule-item-actions img {
	height: 16px;
	width: 16px;
}

.setting-panel .add-rule-item-row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.setting-panel .add-rule-item-row .add-rule-from {
	width: 22%;
}

.setting-panel .add-rule-item-row .add-rule-to {
	width: 22%;
}

.setting-panel .add-rule-score {
	width: 42%;
	margin-left: 10px;
}

.setting-panel .add-rule-item-actions .add-button {
	margin-left: 0px;
}

.setting-panel .setting-actions {
	height: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.setting-panel .setting-actions .btn {
	float: right;
	margin-left: 30px;
	height: 30px;
	width: 15%;
	box-shadow: 2px 2px 2px #888888;
}

.setting-panel .setting-back-action {
	background: #d58512;
	color: #FFF;
}

.btn {
	display: inline-block;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 1.25em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	background-color: #fdfdfd;
	background-image: -moz-linear-gradient(top, #fdfdfd, #e3e3e3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e3e3e3));
	background-image: -webkit-linear-gradient(top, #fdfdfd, #e3e3e3);
	background-image: -o-linear-gradient(top, #fdfdfd, #e3e3e3);
	background-image: linear-gradient(to bottom, #fdfdfd, #e3e3e3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e3e3e3', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	border: 1px solid #bebebe;
	*border: 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}