<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/index.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/about.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/components/agreement.js"></script>
    <script src="{{@basejs}}/libs/index.js"></script>
    {{{statsScript}}}
  </head>
  <body>
    {{> i18n }}
    <a class="logo" href="/"><img src="/imgs/default/logo.png" /></a>
    <div class="top-right-area">
      <a class="about-btn" href="/">首页</a>
      <a class="about-btn" href="/login">登录</a>
      <a class="about-btn" href="/about">关于天才数独棋</a>
      <a class="contact-btn" href="/news">数独动态</a>
      <a class="contact-btn" href="/operation">操作指引</a>
      <a class="contact-btn" href="/guide">对战指南</a>
      <a class="law-btn" href="javascript:void(0);">法律声明</a>
      <a class="contact-btn" href="/contact">联系我们</a>
    </div>
    <div class="contain-area">
      <div class="common-contain">
        <p>超天才数独网是超天才技术开发(北京)有限责任公司的专利游戏产品，发明人是著名企业家顾雏军先生，顾雏军先生曾组织庞大团队完成了数十万张九联数独棋棋盘，并由此开发出代表人类终极智慧的九段天才数独棋。天才数独棋有三种玩法，即对战、人机和单机。超天才数独网网页包括单机/人机游戏、道具、教学视频、帮助等多个模块，有多个星座和房间，为喜欢天才数独棋的玩家提供一个娱乐、交流的平台。</p>
        <img src="/imgs/default/introduce1.png" />
        <img src="/imgs/default/introduce2.png" />
      </div>
    </div>
  </body>
</html>
