<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/reset_password.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/reset_password.js"></script>
    {{{statsScript}}}
  </head>
  <body class="lang-{{$lang}}" data-key="{{key}}" data-account="{{account}}">
    {{> i18n }}
    <div class="common-container">
      <div class="common-header">
        <div class="logo"></div>
        <div class="game-label">
          {{T "common:sudoku"}}
        </div>
      </div>
      <div class="common-separator">
        <div class="above"></div>
        <div class="below"></div>
      </div>
      <div class="common-content">
        {{#if available}}
        <p>{{T "page:active_user.activated"}}，<a href="/">{{T "page:active_user.start"}}</a></p>
        {{else}}
        <p>{{T "page:active_user.invalid"}}<a href="/signup">{{T "page:active_user.signup"}}</a></p>
        {{/if}}
      </div>
    </div>
  </body>
</html>
