<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/help.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/help.js"></script>
    {{{statsScript}}}
  </head>
  <body class="lang-{{$lang}}">
    {{> i18n }}
    {{#loggedin}}
      {{> top_actions }}
      <div class="welcome">
        {{T "page:help.welcome"}}<span class="user-name">{{userName}}</span>, {{T "page:help.balance"}}<span class="money">{{money}}</span>{{T "page:help.money"}}
      </div>
    {{/loggedin}}
    <div class="main">
      <div class="navigator">
        <div class="rich-button item game-spec active" data-target="game-spec">
          {{T "page:help.game_introduction"}}
        </div>
        <div class="rich-button item how-to-play" data-target="how-to-play">
          {{T "page:help.game_howto"}}
        </div>
        <div class="rich-button item score-spec" data-target="score-spec">
          {{T "page:help.game_round_score"}}
        </div>
        <div class="rich-button item grade-spec" data-target="grade-spec">
          {{T "page:help.game_grade_money"}}
        </div>
        <div class="rich-button item system-spec" data-target="system-spec">
          {{T "page:help.system_operation_introduction"}}
        </div>
        <div class="rich-button item constellation-spec" data-target="constellation-spec">
          {{T "page:help.constellation_introduction"}}
        </div>
        <div class="rich-button item contact-us" data-target="contact-us">
          {{T "page:help.contact_us"}}
        </div>
      </div>
      <div class="help-container">
        <div class="item game-spec active">
          <h2>{{T "page:help.basic_rule"}}</h2>
          <h3>{{T "page:help.grid"}}</h3>
          <p>
            {{T "page:help.grid_desc"}}
          </p>
          <p class="board9">
            <img src="/imgs/default/help/board9_empty.png" />
            <img src="/imgs/default/help/board9_legend.png" />
            <img src="/imgs/default/help/board9_full.png" />
          </p>
          <h3>{{T "page:help.grid_sudoku"}}</h3>
          <p>
            {{T "page:help.grid_sudoku_desc"}}
          </p>
          <img class="board99" src="/imgs/default/help/board99.png" />
        </div>
        <div class="item how-to-play">
          <h2>{{T "page:help.game_view"}}</h2>
          <img src="/imgs/default/help/game.png" />
          <ul>
            <li>
              <span>{{T "page:help.countdown"}}</span>{{T "page:help.countdown_desc"}}
            </li>
            <li>
              <span>{{T "page:help.draft_submit"}}</span>{{T "page:help.draft_submit_desc"}}
              <br>
              <span>{{T "page:help.plain_options"}}</span>{{T "page:help.plain_options_desc"}}
            </li>
            <li>
              <span>{{T "page:help.zoom"}}</span>{{T "page:help.zoom_desc"}}
            </li>
            <li>
              <span>{{T "page:help.prop_icon"}}</span>{{T "page:help.prop_icon_desc"}}
            </li>
            <li>
              <span>{{T "page:help.chessboard"}}</span>{{T "page:help.chessboard_area"}}
            </li>
            <li>
              <span>{{T "page:help.moon"}}</span>{{T "page:help.moon_desc"}}
            </li>
            <li>
              <span>{{T "page:help.pass"}}</span>{{T "page:help.pass_desc"}}
            </li>
            <li>
              <span>{{T "page:help.headshot"}}</span>{{T "page:help.headshot_desc"}}
              <br>
            </li>
            <li>
              <span>{{T "page:help.ranking"}}</span>{{T "page:help.ranking_desc"}}
            </li>
            <li>
              <span>{{T "page:help.chat"}}</span>{{T "page:help.chat_desc"}}
            </li>
            <li>
              <span>{{T "page:help.quit"}}</span>{{T "page:help.quit_desc"}}
            </li>
          </ul>
        </div>
        <div class="item score-spec">
          {{#score}}
          <div class="title">* {{T "page:help.add_score"}} </div>
          <div class="add-content inner-container">
            <div class="sub-title">{{T "page:help.time_per_step"}}</div>
            {{#add}}
            <div class="add-item {{#selected}}selected{{/selected}}">
              <div class="add-total">{{total}}{{T "page:help.second"}}</div>
              {{#levels}}
              <div class="add-row">
                <span class="add-from">{{from}}{{T "page:help.second"}}</span>
                <span class="add-connection">-</span>
                <span class="add-to">{{to}}{{T "page:help.second"}}: </span>
                <span class="add-score">{{score}}</span>
              </div>
              {{/levels}}
            </div>
            {{/add}}
          </div>
          <div class="separator"></div>
          <div class="title">* {{T "page:help.reduce_score"}} </div>
          <div class="reduce-content inner-container">
            {{#reduce}}
            <div class="reduce-item">
              <div class="reduce-row">
                <label>{{T "page:help.reduce_score_value"}} </label>
                <span class="reduce-score">{{timeout}}</span>
              </div>
              <div class="reduce-row">
                <label>{{T "page:help.pass_value"}} </label>
                <span class="reduce-score">{{pass}}</span>
              </div>
            </div>
            {{/reduce}}
          </div>
          {{/score}}
        </div>
        <div class="item grade-spec">
          <h2>{{T "page:help.grade_score"}}</h2>
          <div class="grade-container">
            <div class="grade-row grade-head">
              <div class="grade-name">
                {{T "page:help.grade"}}
              </div>
              <div class="grade-connection"></div>
              <div class="grade-value">
                {{T "page:help.score"}}
              </div>
            </div>
            {{#grade}}
            <div class="grade-row">
              <div class="grade-name">
                {{name}}
              </div>
              <div class="grade-connection"></div>
              <div class="grade-value">
                {{floor}}
              </div>
            </div>
            {{/grade}}
          </div>
          <h2>{{T "page:help.exchange_rate"}}</h2>
          <p class="exchange-rate">
            {{T "page:help.one_rmb"}} = {{exchange.rate}}{{T "page:help.money"}}
          </p>
        </div>
        <div class="item system-spec">
          <h2>{{T "page:help.function_desc"}}</h2>
          <ul>
            <li>
              <span>{{T "page:help.user_info"}}</span>{{T "page:help.user_info_desc"}}
            </li>
            <li>
              <span>{{T "page:help.prop"}}</span>{{T "page:help.prop_desc"}}
            </li>
            <li>
              <span>{{T "page:help.message"}}</span>{{T "page:help.message_desc"}}
            </li>
            <li>
              <span>{{T "page:help.recharge"}}</span>{{T "page:help.recharge_desc"}}
            </li>
            <li>
              <span>{{T "page:help.help"}}</span>{{T "page:help.help_desc"}}
            </li>
            <li>
              <span>{{T "page:help.logout"}}</span>{{T "page:help.logout_desc"}}
            </li>
            <li>
              <span>{{T "page:help.table"}}</span>{{T "page:help.table_desc"}}
            </li>
          </ul>
        </div>
        <div class="item constellation-spec">
          <div class="inner-container">
            <h2>{{T "page:help.constellation"}}</h2>
            <div class="none">{{T "page:help.empty"}}</div>
            <ul style="display: none">
              <li>
                <span>{{T "page:help.aquarius"}}</span>{{T "page:help.aquarius_desc"}}
              </li>
              <li>
                <span>{{T "page:help.pisces"}}</span>{{T "page:help.pisces_desc"}}
              </li>
              <li>
                <span>{{T "page:help.aries"}}</span>{{T "page:help.aries_desc"}}
              </li>
            </ul>
          </div>
        </div>
        <div class="item contact-us">
          <div class="inner-container">
            <div class="common-header">
              <div class="logo"></div>
              <div class="game-label">
                {{T "common:sudoku"}}
              </div>
            </div>
            <div class="common-separator">
              <div class="above"></div>
              <div class="below"></div>
            </div>
            <div class="common-content">
              <p>
                {{T "common:company"}}
              </p>
              <p>
                {{T "common:email"}}：service@supergenius.cn
              </p>
              <p>
                {{T "common:phone"}}：56296776
              </p>
              <p>
                {{T "page:help.address"}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-actions">
      <a class="rich-button back" href="/main">{{T "common:actions.back"}}</a>
    </div>
  </body>
</html>
