<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/help.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/lodash.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/help.js"></script>
    <script src="{{@basejs}}/libs/stats.js"></script>
  </head>
  <body>
    {{> top_actions }}
    <div class="welcome">
      欢迎<span class="user-name">{{userName}}</span>, 余额<span class="money">{{money}}</span>天才币
    </div>
    <div class="main">
      <div class="navigator">
        <div class="rich-button item game-spec active" data-target="game-spec">
          九联数独棋介绍
        </div>
        <div class="rich-button item how-to-play" data-target="how-to-play">
          天才数独棋玩法
        </div>
        <div class="rich-button item score-spec" data-target="score-spec">
          数独棋局分规则
        </div>
        <div class="rich-button item grade-spec" data-target="grade-spec">
          积分段位和天才币
        </div>
        <div class="rich-button item system-spec" data-target="system-spec">
          系统操作介绍
        </div>
        <div class="rich-button item constellation-spec" data-target="constellation-spec">
          星座介绍
        </div>
        <div class="rich-button item contact-us" data-target="contact-us">
          联系我们
        </div>
      </div>
      <div class="help-container">
        <div class="item game-spec active">
          <h2>基本规则：</h2>
          <h3>九宫格：</h3>
          <p>
            在空格内填入数字1-9，使得每行、每列、及每宫数字都是1-9不重复
          </p>
          <p class="board9">
            <img src="/imgs/default/help/board9_empty.png" />
            <img src="/imgs/default/help/board9_legend.png" />
            <img src="/imgs/default/help/board9_full.png" />
          </p>
          <h3>九联数独：</h3>
          <p>
            基本规则和标准数独一致，红色标注为重复宫，所在宫数字为两个数独共用
          </p>
          <img class="board99" src="/imgs/default/help/board99.png" />
        </div>
        <div class="item how-to-play">
          <h2>游戏界面</h2>
          <img src="/imgs/default/help/game.png" />
          <ul>
            <li>
              <span>【倒计时】：</span>中间显示时间为每步时间，答题时间越快，分数越高
            </li>
            <li>
              <span>【草稿/提交模式】：</span>草稿模式下可以在空格内填入1-4个数字或字母用于标记，可以更改；提交模式下，点击格子弹出输入框，选择该格正确答案，不可更改，提交后判断，答对加分，答错扣分
              <br>
              <span>【普通/候选模式】：</span>普通模式下，没有作答的格子内为空；候选模式下，显示所有未作答格子的候选数（1-4个），候选模式通过道具开启
            </li>
            <li>
              <span>【游戏界面缩放条】：</span>可调整当前界面的大小，最小1倍，最大1.5倍
            </li>
            <li>
              <span>【道具图标】：</span>每种道具后面的数字为当前所拥有的个数，可在道具商城查看每种道具功能及购买
            </li>
            <li>
              <span>【棋盘】：</span>九联数独棋盘区域
            </li>
            <li>
              <span>【月亮】：</span>轮到自己作答时月亮亮起，别人作答时月亮熄灭
            </li>
            <li>
              <span>【Pass键】：</span>每轮作答时，如果没有得出确切答案，可点击pass，所扣分数为答错时的一半。
            </li>
            <li>
              <span>【头像显示区】：</span>显示此局游戏所有玩家，轮到谁作答，谁的头像外有一圈黄色光环。鼠标悬停在用户头像上时，可显示此人的段位积分等信息。
              <br>
            </li>
            <li>
              <span>【及时排名区】：</span>实时显示玩家的得分情况
            </li>
            <li>
              <span>【聊天区】：</span>可在游戏中进行交流
            </li>
            <li>
              <span>【退出键】：</span>可在开始后退出游戏，但在玩家是庄家身份时，不退还建桌的天才币
            </li>
          </ul>
        </div>
        <div class="item score-spec">
          {{#score}}
          <div class="title">* 加分设置: </div>
          <div class="add-content inner-container">
            <div class="sub-title">每步时间</div>
            {{#add}}
            <div class="add-item {{#selected}}selected{{/selected}}">
              <div class="add-total">{{total}}秒</div>
              {{#levels}}
              <div class="add-row">
                <span class="add-from">{{from}}秒</span>
                <span class="add-connection">-</span>
                <span class="add-to">{{to}}秒: </span>
                <span class="add-score">{{score}}</span>
              </div>
              {{/levels}}
            </div>
            {{/add}}
          </div>
          <div class="separator"></div>
          <div class="title">* 减分设置: </div>
          <div class="reduce-content inner-container">
            {{#reduce}}
            <div class="reduce-item">
              <div class="reduce-row">
                <label>答错或超时扣分分值: </label>
                <span class="reduce-score">{{timeout}}</span>
              </div>
              <div class="reduce-row">
                <label>Pass扣分分值: </label>
                <span class="reduce-score">{{pass}}</span>
              </div>
            </div>
            {{/reduce}}
          </div>
          {{/score}}
        </div>
        <div class="item grade-spec">
          <h2>积分段位：</h2>
          <div class="grade-container">
            <div class="grade-row grade-head">
              <div class="grade-name">
                段位
              </div>
              <div class="grade-connection"></div>
              <div class="grade-value">
                积分
              </div>
            </div>
            {{#grade}}
            <div class="grade-row">
              <div class="grade-name">
                {{name}}
              </div>
              <div class="grade-connection"></div>
              <div class="grade-value">
                {{floor}}
              </div>
            </div>
            {{/grade}}
          </div>
          <h2>天才币汇率：</h2>
          <p class="exchange-rate">
            1人民币 = {{exchange.rate}}天才币
          </p>
        </div>
        <div class="item system-spec">
          <h2>功能介绍</h2>
          <ul>
            <li>
              <span>【个人信息】：</span>在此可以查看用户的段位，积分，天才币等信息，并可更改头像
            </li>
            <li>
              <span>【道具】：</span>可在此处购买道具及查看自己道具的数量
            </li>
            <li>
              <span>【消息】：</span>查看系统发送的各类消息，包括每局游戏战报和活动通知等
            </li>
            <li>
              <span>【充值】：</span>可在此处充值天才币，查看用户余额及充值记录
            </li>
            <li>
              <span>【帮助】：</span>查看帮助信息
            </li>
            <li>
              <span>【注销】：</span>退出登录，返回首页
            </li>
            <li>
              <span>【桌子】：</span>点击空桌时，弹出建桌窗口，此时用户为庄家，需支付天才币作为建桌费（入门题目除外）；点击非空桌时，用户为普通身份，不用支付天才币
            </li>
          </ul>
        </div>
        <div class="item constellation-spec">
          <div class="inner-container">
            <h2>星座</h2>
            <div class="none">暂无</div>
            <ul style="display: none">
              <li>
                <span>【水瓶座】：</span>三个房间，每房间40张桌子，每桌2-4人
              </li>
              <li>
                <span>【双鱼座】：</span>四个房间，每房间40张桌子，每桌5-9人
              </li>
              <li>
                <span>【白羊座】：</span>三个房间，每房间36张桌子，每桌2-9人
              </li>
            </ul>
          </div>
        </div>
        <div class="item contact-us">
          <div class="inner-container">
            <div class="common-header">
              <div class="logo"></div>
              <div class="game-label">
                数独棋
              </div>
            </div>
            <div class="common-separator">
              <div class="above"></div>
              <div class="below"></div>
            </div>
            <div class="common-content">
              <p>
                超天才技术开发(北京)有限责任公司
              </p>
              <p>
                邮箱：service@supergenius.cn
              </p>
              <p>
                电话：56296776
              </p>
              <p>
                地址：北京市上地三街金隅嘉华大厦A座401
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-actions">
      <a class="rich-button back" href="/main">返回</a>
    </div>
  </body>
</html>
