<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/index.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/agreement.js"></script>
    <script src="{{@basejs}}/libs/index.js"></script>
    {{{statsScript}}}
  </head>
  <body class="lang-{{$lang}}">
    {{> i18n }}
    <a class="logo" href="/"><img src="/imgs/default/logo.png" /></a>
    <div class="top-right-area">
      {{#user}}
      <div class="login-welcome">
        {{T "page:login.top.welcome"}} <span>{{name}}</span>
      </div>
      {{/user}}
      <a class="about-btn" href="/">{{T "common:navigator.home"}}</a>
      <a class="about-btn" href="/treasure/login">{{T "common:navigator.treasure"}}</a>
      <a class="about-btn" href="/about">{{T "common:navigator.about"}}</a>
      <a class="contact-btn" href="/news">{{T "common:navigator.news"}}</a>
      <a class="contact-btn" href="/operation">{{T "common:navigator.operation"}}</a>
      <a class="contact-btn" href="/guide">{{T "common:navigator.guide"}}</a>
      <a class="law-btn" href="javascript:void(0);">{{T "common:navigator.law"}}</a>
      <a class="help-btn" href="/help">{{T "common:navigator.help"}}</a>
      <a class="contact-btn" href="/contact">{{T "common:navigator.contact"}}</a>
    </div>
    <div class="login-area">
      {{#rooms}}
      <div id="{{id}}" class="room">
        <a class="icon" href="javascript:void(0);"><img src="{{icon}}" /></a>
        <a class="label" href="javascript:void(0);">{{L name}}</a>
      </div>
      {{/rooms}}
      <div class="login-container">
        {{#if user}}
        <a class="enter" href="/main">{{T "page:login.middle.enter_game"}}</a>
        {{else}}
        <form class="login-form" action="/login" method="post">
          <div class="genius-title">
            Genius
          </div>
          <div class="login-title">
            Sudoku
          </div>
          <div class="login-user">
            <label class="login-label">{{T "page:login.middle.username"}}</label>
            <input class="login-field" type="text" name="account" autocomplete="on" placeholder="{{T "page:login.middle.username"}}" />
          </div>
          <div class="login-password">
            <label class="login-label">{{T "page:login.middle.password"}}</label>
            <input class="login-field" type="password" name="password" autocomplete="on" placeholder="{{T "page:login.middle.password"}}" />
          </div>
          {{#error}}
          <div class="login-error">
            {{T "page:login.middle.login_error"}}
          </div>
          {{/error}}
          <div class="login-more">
            <input type="checkbox" name="remember_me" id="inputCheck" />
            <label for="inputCheck">{{T "page:login.middle.autologin"}}</label>
            <a href="/retrieve_password">{{T "page:login.middle.forgetpassword"}}</a>
          </div>
          <div class="login-actions">
            <input class="login-button" type="submit" value="{{T "page:login.middle.login"}}" />
            <a  class="signup-button" href="/signup">{{T "page:login.middle.signup"}}</a>
          </div>
          <div class="login-separator"></div>
          <div class="guest-pass-button">
            <a href="javascript:void(0)">{{T "page:login.middle.guestpass"}}</a>
          </div>
          <div class="protocol-read">
            <input type="checkbox" checked="true" />
            <label>{{{T "page:login.middle.agreement"}}}</label>
          </div>
        </form>
        {{/if}}
      </div>
    </div>
    {{> communicate }}
  </body>
</html>
