<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
		<link href="{{@basecss}}/index.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<form class="login-form" action="/login" method="post">
			<div class="login-icon"></div>
			<div class="login-user">
				<div class="login-user-icon">
					<img src="{{@baseimg}}/user.png"></img>
				</div>
				<input class="login-user-field" type="text" name="account" autocomplete="on" placeholder="用户名" />
				{{#error}}
				<div class="login-error">
					您输入的用户名错误
				</div>
				{{/error}}
			</div>
			<div class="login-button">
				<input class="btn" type="submit" value="登录" />
			</div>
			<div class="remember-me">
				<input type="checkbox"/><label>下次自动登录</label>
			</div>
		</form>
	</body>
</html>