<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/main.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/lobby.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/lobby_game_dialog.js"></script>
    <script src="{{@basejs}}/libs/components/single_player_dialog.js"></script>
    <script src="{{@basejs}}/libs/components/lobby_model.js"></script>
    <script src="{{@basejs}}/libs/components/lobby_panel.js"></script>
    <script src="{{@basejs}}/libs/main.js"></script>
    {{#isGuest}}
    <script>
      $(document).ready(function() {
        window.singlePlayerDialog = new SinglePlayerDialog($('body'), {
          closable: false,
          visible: true,
          showBattle: true,
          mode: 'robot'
        });
        window.singlePlayerDialog.show({}, function(params) {
          Rest.Game.createSingleGame(params, function() {

          }, function() {});
          window.location = '/table/{{account}}';
        });
      });
    </script>
    {{/isGuest}}
    {{{statsScript}}}
  </head>
  <body class="lang-{{$lang}}">
    {{> i18n left=true }}
    <div class="header">
      <div class="header-user">
        <div class="header-user-icon">
          <img src="{{userIcon}}"></img>
        </div>
        <div class="header-user-info">
          {{#unless isGuest}}
          <p title="{{account}}">
            {{T "page:lobby.username"}}：{{account}}
          </p>
          {{/unless}}
          <p title="{{userName}}">
            {{T "page:lobby.nickname"}}：{{userName}}
          </p>
          <p title="{{money}}">
            {{T "page:lobby.money"}}：{{money}}
          </p>
        </div>
      </div>
      <div class="header-actions">
        <div class="header-action">
          <a class="user-button" href="/view/user">{{T "common:navigator.user"}}</a>
        </div>
        <div class="header-action">
          <a class="single-player" href="javascript:;">{{T "common:navigator.single_player"}}</a>
        </div>
        <div class="header-action">
          <a class="props-button" href="/view/props">{{T "common:navigator.props"}}</a>
        </div>
        {{#isAdmin}}
        <div class="header-action">
          <a class="setting-button" href="/setting">{{T "common:navigator.settings"}}</a>
        </div>
        {{/isAdmin}}
        <div class="header-action">
          <div class="messages-count" title="{{unreadMessagesCount}}">
            {{unreadMessagesCount}}
          </div>
          <a class="messages-button" href="/view/messages">{{T "common:navigator.messages"}}</a>
        </div>
        {{#unless isAdmin}}
        <div class="header-action">
          <a class="recharge-button" href="/view/recharge">{{T "common:navigator.recharge"}}</a>
        </div>
        {{/unless}}
        <div class="header-action">
          <a class="video-button" href="/video">{{T "common:navigator.teaching_video"}}</a>
        </div>
        <div class="header-action">
          <a class="help-button" href="/help">{{T "common:navigator.help"}}</a>
        </div>
        <div class="header-action">
          <a class="logout-button" href="/logout">{{T "common:navigator.logout"}}</a>
        </div>
      </div>
    </div>
    <div id="lobby" class="lobby"></div>
    {{> communicate }}
  </body>
</html>
