<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
		<link href="{{@basecss}}/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="header">
			<a class="logout-button" href="/logout"> <img src="{{@baseimg}}/logout.png" /><span>注销</span> </a>
			<a class="setting-button" href="/setting"> <img src="{{@baseimg}}/setting.png" /><span>管理</span> </a>
		</div>

		<div class="game-entrance">
			<div>
				欢迎用户{{userName}}登录
			</div>
			<a class="btn enter-button" href="/gameroom">进入游戏</a>
		</div>
	</body>
</html>