<!DOCTYPE html>
<html>
<head>
    {{> common_head }}
    <script src="{{@basejs}}/js/libs3/jquery/jquery-3.1.1.js"></script>
    {{{statsScript}}}
</head>
<body>
    Users: {{userlist}}
    <form action="{{@base}}/mongodb/user/save" method="post">
        <label for="id">user.id</label><input id="id" name="id" />
        <label for="name">user.name</label><input id="name" name="name" />
        <label for="pwd">user.pwd</label><input id="pwd" name="pwd" />
        <input type="submit" value="提交" />
    </form>
</body>
</html>
