<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/index.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/about.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/agreement.js"></script>
    <script src="{{@basejs}}/libs/index.js"></script>
    {{{statsScript}}}
  </head>
  <body class="lang-{{$lang}}">
    {{> i18n }}
    <a class="logo" href="/"><img src="/imgs/default/logo.png" /></a>
    <div class="top-right-area">
      <a class="about-btn" href="/">{{T "common:navigator.home"}}</a>
      <a class="about-btn" href="/treasure/login">{{T "common:navigator.treasure"}}</a>
      <a class="about-btn" href="/about">{{T "common:navigator.about"}}</a>
      <a class="contact-btn" href="/news">{{T "common:navigator.news"}}</a>
      <a class="contact-btn" href="/operation">{{T "common:navigator.operation"}}</a>
      <a class="contact-btn" href="/guide">{{T "common:navigator.guide"}}</a>
      <a class="law-btn" href="javascript:void(0);">{{T "common:navigator.law"}}</a>
      <a class="help-btn" href="/help">{{T "common:navigator.help"}}</a>
      <a class="contact-btn" href="/contact">{{T "common:navigator.contact"}}</a>
    </div>
    <div class="contain-area">
      <div class="common-contain">
        <h3>{{T "page:operation.head"}}</h3>
        <div class="step">
          <h4>{{T "page:operation.section1.title"}}</h4>
          <p>{{T "page:operation.section1.description"}}</p>
          <img src="/imgs/default/operate1.png" alt="" />
        </div>
        <div class="step">
          <h4>{{T "page:operation.section2.title"}}</h4>
          <p>{{T "page:operation.section2.description1"}}</p>
          <p>{{T "page:operation.section2.description2"}}</p>
          <img src="/imgs/default/operate2.png" alt="" />
          <img src="/imgs/default/operate3.png" alt="" />
        </div>
        <div class="step">
          <h4>{{T "page:operation.section3.title"}}</h4>
          <p>{{T "page:operation.section3.description"}}</p>
          <img src="/imgs/default/operate4.png" alt="" />
          <img src="/imgs/default/operate5.png" alt="" />
        </div>
        <div class="step">
          <h4>{{T "page:operation.section4.title"}}</h4>
          <p>{{T "page:operation.section4.description"}}</p>
          <img src="/imgs/default/operate6.png" alt="" />
          <img src="/imgs/default/operate7.png" alt="" />
        </div>
        <div class="step">
          <h4>{{T "page:operation.section5.title"}}</h4>
          <p>{{T "page:operation.section5.description1"}}</p>
          <p>{{T "page:operation.section5.description2"}}</p>
          <p>{{T "page:operation.section5.description3"}}</p>
          <p>{{T "page:operation.section5.description4"}}</p>
          <p>{{T "page:operation.section5.description5"}}</p>
          <p>{{T "page:operation.section5.description6"}}</p>
          <p>{{T "page:operation.section5.description7"}}</p>
          <img src="/imgs/default/operate8.png" alt="" />
        </div>
        <p>{{T "page:operation.greeting"}}</p>
      </div>
    </div>
  </body>
</html>
