<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/props.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/prop_panel.js"></script>
    <script src="{{@basejs}}/libs/props.js"></script>
    {{{statsScript}}}
  </head>
  <body class="lang-{{$lang}}">
    {{> i18n left=true }}
    {{> top_actions }}
    <div class="welcome">
      {{T "common:greeting.welcome"}}<span class="user-name">{{userName}}</span>, {{T "common:greeting.balence"}}<span class="money">{{money}}</span>{{T "common:greeting.money"}}
    </div>
    <div class="main"></div>
    <div class="bottom-actions">
      <a href="/main" class="rich-button back">{{T "common:actions.back"}}</a>
    </div>
  </body>
</html>
