<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/recharge.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-2.1.1.min.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/lodash.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/components/pagination_bar.js"></script>
    <script src="{{@basejs}}/libs/components/recharge_panel.js"></script>
    <script src="{{@basejs}}/libs/recharge.js"></script>
  </head>
  <body>
    <div class="top-actions">
      <a class="user-button" href="/view/user">个人信息</a>
      <a class="props-button" href="/view/props">道具</a>
      <a class="setting-button" href="/setting">管理</a>
      <a class="logout-button" href="/logout">注销</a>
    </div>
    <div class="welcome">
      欢迎<span class="user-name">{{userName}}</span>, 余额<span class="money">{{money}}</span>天才币
    </div>

    <div id="recharge"></div>
  </body>
</html>