<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>天才数独棋</title>
    <meta name="Keywords" content="天才数独棋,数独,九联数独,九连,超天才,数独棋,顾雏军,益智游戏,Sudoku" />
    <meta name="Description" content="天才数独棋是著名企业家顾雏军发明的高难度智力游戏。本游戏有超天才公司的九联数独专利保护，并在日本出版了这种九联数独的启蒙书籍，引起轰动，风靡日本。目前顾雏军先生率领超天才团队研发出具有五十万张棋盘的九联数独对战游戏项目，该项目（天才数独棋）是一个有12个星座场景、实现充值、支持各种道具、可以多人对战的九联数独棋。更有与天才机器人进行人机对战的项目，还有纯智慧训练的九连数独的单机游戏。提供数独人才一个锻炼提升以及交友的平台，让更多的人接触并爱上九联数独，把数独文化和智力培训发扬光大。" />
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/recharge.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-1.12.0.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/lodash.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/components/pagination_bar.js"></script>
    <script src="{{@basejs}}/libs/components/recharge_panel.js"></script>
    <script src="{{@basejs}}/libs/recharge.js"></script>
    <script src="{{@basejs}}/libs/stats.js"></script>
  </head>
  <body>
    {{> top_actions }}
    <div class="welcome">
      欢迎<span class="user-name">{{userName}}</span>, 余额<span class="money">{{money}}</span>天才币
    </div>

    <div id="recharge"></div>
  </body>
</html>
