<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/retrieve_password.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/libs3/jquery.form.js"></script>
    <script src="{{@basejs}}/libs3/lodash.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/retrieve_password.js"></script>
    {{{statsScript}}}
  </head>
  <body>
    <div class="common-container">
      <div class="common-header">
        <div class="logo"></div>
        <div class="game-label">
          数独棋
        </div>
      </div>
      <div class="common-separator">
        <div class="above"></div>
        <div class="below"></div>
      </div>
      <div class="common-content">
        <p>
          我们将往您的邮箱发一封密码重置邮件，请尽快查收！
        </p>
        <p>
          邮箱地址:
          <input class="email" type="text" />
          <span class="ok-sign"></span>
        </p>
      </div>
      <div class="common-actions">
        <a class="button send" disabled="disabled" href="javascript:void(0);">发送</a>
        <a class="button" href="/">关闭</a>
      </div>
    </div>
  </body>
</html>
