<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/setting.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/setting_panel.js"></script>
    <script src="{{@basejs}}/libs/setting.js"></script>
    {{{statsScript}}}
  </head>
  <body data-account={{account}}>
    {{> i18n left=true }}
    {{> top_actions }}
    <div class="welcome">
      欢迎<span class="user-name">{{userName}}</span>, 余额<span class="money">{{money}}</span>天才币
    </div>

    <div id="setting"></div>
  </body>
</html>
