<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/components.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/setting.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-2.1.1.min.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/components/setting_panel.js"></script>
    <script src="{{@basejs}}/libs/setting.js"></script>
  </head>
  <body>
    <div class="header">
      <a class="logout-button" href="/logout"> <img src="{{@baseimg}}/logout.png" /><span>注销</span> </a>
      <a class="setting-button" href="/setting"> <img src="{{@baseimg}}/setting.png" /><span>管理</span> </a>
      <a class="propstore-button" href="/propstore"> <img src="{{@baseimg}}/prop.png" /><span>道具</span> </a>
      <a class="user-button" href="/user"> <img src="{{@baseimg}}/user_gray.png" /><span>个人信息</span> </a>
    </div>

    <div id="setting"></div>
  </body>
</html>