<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/signup.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-2.2.0.js"></script>
    <script src="{{@basejs}}/libs3/jquery.form.js"></script>
    <script src="{{@basejs}}/libs3/lodash.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/signup.js"></script>
  </head>
  <body>
    <div class="common-container">
      <div class="common-header">
        <div class="welcome">
          欢迎注册
        </div>
        <div class="logo"></div>
        <div class="game-label">
          数独棋
        </div>
      </div>
      <div class="common-separator">
        <div class="above"></div>
        <div class="below"></div>
      </div>
      <form class="signup-form" action="/user" method="post">
        <div class="signup-row account">
          <label class="signup-name">用户名</label>
          <input class="signup-value" type="text" name="account" placeholder="1到30位，不包含空格"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign" style="display: none;"></div>
        </div>
        <div class="signup-row name">
          <label class="signup-name">昵称</label>
          <input class="signup-value" type="text" name="name" placeholder="1到30位，不包含空格，支持中文"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row password">
          <label class="signup-name">密码</label>
          <input class="signup-value" type="password" name="password" placeholder="6到16位，必须包含特殊字符"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row repeat-password">
          <label class="signup-name">重复密码</label>
          <input class="signup-value" type="password" name="repeat_password" placeholder="6到16位，必须包含特殊字符"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row email">
          <label class="signup-name">邮箱</label>
          <input class="signup-value" type="text" name="email"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row vcode">
          <label class="signup-name">验证码</label>
          <input class="signup-value" type="text" name="vcode"/>
          <span class="mandatory-sign">*</span>
          <img class="verify-image" />
          <a href="javascript:void(0)" class="refresh-vcode">刷新</a>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row protocol-read">
          <input type="checkbox"/>
          <label>我已阅读并同意超天才数独玩家协议</label>
        </div>
        <div class="common-actions">
          <button class="button signup-submit" disabled="true">
            注册
          </button>
          <a class="button" href="/">关闭</a>
        </div>
      </form>
    </div>
  </body>
</html>