<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/signup.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/agreement.js"></script>
    <script src="{{@basejs}}/libs/signup.js"></script>
    {{{statsScript}}}
  </head>
  <body class="signup lang-{{$lang}}">
    {{> i18n }}
    <div class="common-container">
      <div class="common-header">
        <div class="welcome">
          {{T "page:signup.welcome"}}
        </div>
        <div class="logo"></div>
        <div class="game-label">
          {{T "common:sudoku"}}
        </div>
      </div>
      <div class="common-separator">
        <div class="above"></div>
        <div class="below"></div>
      </div>
      <form class="signup-form" action="/user" method="post">
        <div class="signup-row account">
          <label class="signup-name">{{T "page:signup.username"}}</label>
          <input class="signup-value" type="text" name="account" placeholder="{{T "page:signup.username_tip"}}"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign" style="display: none;"></div>
        </div>
        <div class="signup-row name">
          <label class="signup-name">{{T "page:signup.nickname"}}</label>
          <input class="signup-value" type="text" name="name" placeholder="{{T "page:signup.nickname_tip"}}"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row password">
          <label class="signup-name">{{T "page:signup.password"}}</label>
          <input class="signup-value" type="password" name="password" placeholder="{{T "page:signup.password_tip"}}"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row repeat-password">
          <label class="signup-name">{{T "page:signup.repeat_password"}}</label>
          <input class="signup-value" type="password" name="repeat_password" placeholder="{{T "page:signup.password_tip"}}"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row email">
          <label class="signup-name">{{T "page:signup.email"}}</label>
          <input class="signup-value" type="text" name="email"/>
          <span class="mandatory-sign">*</span>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row vcode">
          <label class="signup-name">{{T "page:signup.vcode"}}</label>
          <input class="signup-value" type="text" name="vcode"/>
          <span class="mandatory-sign">*</span>
          <img class="verify-image" />
          <a href="javascript:void(0)" class="refresh-vcode">{{T "page:signup.refresh"}}</a>
          <div class="ok-sign"></div>
        </div>
        <div class="signup-row protocol-read">
          <input type="checkbox"/>
          <label>{{{T "page:signup.agreement"}}}</label>
        </div>
        <div class="common-actions">
          <button class="button signup-submit" disabled="true">
            {{T "page:signup.register"}}
          </button>
          <a class="button" href="/">{{T "common:actions.close"}}</a>
        </div>
      </form>
    </div>
  </body>
</html>
