<!DOCTYPE html>
<html>
<head>
    {{> common_head }}
    <script src="{{@basejs}}/js/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/js/libs3/socket.io-1.7.0.min.js"></script>
    <script src="{{@basejs}}/libs/stats.js"></script>
</head>
<body>
    Welcome to socket world!
</body>
</html>
<script>
    var socket = io.connect('{{@base}}');
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });
</script>
