<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/user.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/libs3/jquery-ui.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/jquery.ui.widget.js"></script>
    <script src="{{@basejs}}/libs3/jquery.fileupload.js"></script>
    <script src="{{@basejs}}/libs3/lodash.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/components/upload_icon.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/user.js"></script>
    {{{statsScript}}}
  </head>
  <body>
    {{> top_actions }}
    <div class="welcome">
      欢迎<span class="user-name">{{user.name}}</span>, 余额<span class="money">{{user.money}}</span>天才币
    </div>
    <div class="main">
      <div class="info">
        <div class="info-row">
          <span class="name">用户名：</span><span class="value">{{user.account}}</span>
        </div>
        <div class="info-row name-row">
          <span class="name">昵称：</span><span class="value">{{user.name}}</span>
          <input class="button modify-button" type="button" value="更改" />
          <input class="value-field" type="text" value="{{user.name}}" />
          <input class="button confirm" type="button" value="确认" />
          <input class="button cancel" type="button" value="取消" />
        </div>
        <div class="info-row">
          <span class="name">状态：</span><span class="value">正常</span>
        </div>
        <div class="info-row grade">
          <span class="name">级别：</span><span class="value">{{user.grade_name}}</span>
        </div>
        <div class="info-row points-row">
          <span class="name">积分：</span><span class="value">{{user.points}}</span>
          {{#isAdmin}}
          <input class="button modify-button" type="button" value="更改" />
          <input class="value-field" type="text" value="{{user.points}}" />
          <input class="button confirm" type="button" value="确认" />
          <input class="button cancel" type="button" value="取消" />
          {{/isAdmin}}
        </div>
        <div class="info-row money-row">
          <span class="name">天才币：</span><span class="value">{{user.money}}</span>
          {{#isAdmin}}
          <input class="button modify-button" type="button" value="更改" />
          <input class="value-field" type="text" value="{{user.money}}" />
          <input class="button confirm" type="button" value="确认" />
          <input class="button cancel" type="button" value="取消" />
          {{/isAdmin}}
        </div>
        <div class="info-row">
          <span class="name">完成局数：</span><span class="value">{{user.rounds}}</span>
        </div>
        <div class="info-row">
          <span class="name">战绩：</span><span class="value">{{user.wintimes}}胜{{user.losetimes}}负</span>
        </div>
        <div class="info-row">
          <span class="name">胜率：</span><span class="value">{{user.winrate}}%</span>
        </div>
        <div class="info-row">
          <span class="name">邮箱：</span><span class="value">{{user.email}}</span>
        </div>
        <div class="info-row">
          <span class="name">注册时间：</span><span class="value">{{formatDate user.createtime}}</span>
        </div>
        <div class="info-row">
          <span class="name">上次登录时间：</span><span class="value">{{formatDate user.logintime}}</span>
        </div>
        <div class="info-row">
          <span class="name">上次登录IP：</span><span class="value">{{user.login_ip}}</span>
        </div>
        <div class="info-row">
          <span class="name">注册IP：</span><span class="value">{{user.create_ip}}</span>
        </div>
      </div>
      <div class="icon" data-value="{{user.icon}}">
        <img class="icon-img" src="{{user.icon}}">
        <div class="icon-actions">
          <button class="button change-icon-action">
            更改头像
          </button>
          <button class="button upload-icon-action">
            本地上传头像
          </button>
        </div>
        <div class="default-icons">
          {{#defaultIcons}}
          <img src="{{this}}">
          {{/defaultIcons}}
        </div>
      </div>
      {{#isAdmin}}
      <div class="actions">
        <input class="button freeze-button" type="button" value="冻结" />
        <input class="button unfreeze-button" type="button" value="解冻" />
        <input class="button block-button" type="button" value="封IP" />
      </div>
      {{/isAdmin}}
    </div>
    <div class="bottom">
      <input class="rich-button close-button" type="button" value="关闭" />
    </div>
  </body>
</html>
