<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/user.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/upload_icon.js"></script>
    <script src="{{@basejs}}/libs/rest/rest.js"></script>
    <script src="{{@basejs}}/libs/user.js"></script>
    {{{statsScript}}}
  </head>
  <body class="lang-{{$lang}}">
    {{> i18n left=true }}
    {{> top_actions }}
    <div class="welcome">
      {{T "page:user.welcome"}}<span class="user-name">{{user.name}}</span>, {{T "page:user.balence"}}<span class="money">{{user.money}}</span>{{T "common:money"}}
    </div>
    <div class="main">
      <div class="info">
        <div class="info-row">
          <span class="name">{{T "page:user.username"}}</span><span class="value">{{user.account}}</span>
        </div>
        <div class="info-row name-row">
          <span class="name">{{T "page:user.nickname"}}</span><span class="value">{{user.name}}</span>
          <input class="button modify-button" type="button" value="{{T "page:user.change"}}" />
          <input class="value-field" type="text" value="{{user.name}}" />
          <input class="button confirm" type="button" value="{{T "common:actions.ok"}}" />
          <input class="button cancel" type="button" value="{{T "common:actions.cancel"}}" />
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.citizen_id"}}</span><span class="value">{{user.citizen_id}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.real_name"}}</span><span class="value">{{user.real_name}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.status"}}</span><span class="value">{{T "page:user.normal"}}</span>
        </div>
        <div class="info-row grade">
          <span class="name">{{T "page:user.grade"}}</span><span class="value">{{L user.grade_name}}</span>
        </div>
        <div class="info-row points-row">
          <span class="name">{{T "page:user.points"}}</span><span class="value">{{user.points}}</span>
          {{#isAdmin}}
          <input class="button modify-button" type="button" value="{{T "page:user.change"}}" />
          <input class="value-field" type="text" value="{{user.points}}" />
          <input class="button confirm" type="button" value="{{T "common:actions.ok"}}" />
          <input class="button cancel" type="button" value="{{T "common:actions.cancel"}}" />
          {{/isAdmin}}
        </div>
        <div class="info-row money-row">
          <span class="name">{{T "page:user.money"}}</span><span class="value">{{user.money}}</span>
          {{#isAdmin}}
          <input class="button modify-button" type="button" value="{{T "page:user.change"}}" />
          <input class="value-field" type="text" value="{{user.money}}" />
          <input class="button confirm" type="button" value="{{T "common:actions.ok"}}" />
          <input class="button cancel" type="button" value="{{T "common:actions.cancel"}}" />
          {{/isAdmin}}
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.rounds"}}</span><span class="value">{{user.rounds}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.score"}}</span><span class="value">{{user.wintimes}}{{T "page:user.win"}}{{user.losetimes}}{{T "page:user.lose"}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.winrate"}}</span><span class="value">{{user.winrate}}%</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.email"}}</span><span class="value">{{user.email}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.signup_time"}}</span><span class="value">{{formatDate user.createtime}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.last_login_time"}}</span><span class="value">{{formatDate user.logintime}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.last_login_ip"}}</span><span class="value">{{user.login_ip}}</span>
        </div>
        <div class="info-row">
          <span class="name">{{T "page:user.signup_ip"}}</span><span class="value">{{user.create_ip}}</span>
        </div>
      </div>
      <div class="icon" data-value="{{user.icon}}">
        <img class="icon-img" src="{{user.icon}}">
        <div class="icon-actions">
          <button class="button change-icon-action">
            {{T "page:user.change_icon"}}
          </button>
          <button class="button upload-icon-action">
            {{T "page:user.upload_icon"}}
          </button>
        </div>
        <div class="default-icons">
          {{#defaultIcons}}
          <img src="{{this}}">
          {{/defaultIcons}}
        </div>
      </div>
      {{#isAdmin}}
      <div class="actions">
        <input class="button freeze-button" type="button" value="{{T "page:user.freeze"}}" />
        <input class="button unfreeze-button" type="button" value="{{T "page:user.unfreeze"}}" />
        <input class="button block-button" type="button" value="{{T "page:user.seal_ip"}}" />
      </div>
      {{/isAdmin}}
    </div>
    <div class="bottom">
      <input class="rich-button close-button" type="button" value="{{T "common:actions.close"}}" />
    </div>
  </body>
</html>
