<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/common.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/video.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/components/agreement.js"></script>
    {{{statsScript}}}
  </head>
  <body>
    {{> i18n left=true }}
    {{> top_actions }}
    <div class="video-area">
      <video src="/videos/su1707101510.mp4" controls="controls" autoplay>
      </video>
    </div>
  </body>
</html>
