<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/index.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/welcome.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs/components/agreement.js"></script>
    <script src="{{@basejs}}/libs/welcome.js"></script>
    {{{statsScript}}}
  </head>
  <body class="welcome-body">
    {{> i18n }}
    <video class="welcome-bg" src="/videos/welcome.mp4" autoplay loop muted>
    </video>
    <div class="welcome-top">
      <a class="logo" href="/"><img src="/imgs/default/logo.png" /></a>
      <div class="top-right-area">
        <a class="about-btn" href="/">{{T "page:welcome.top.welcome"}}</a>
        <a class="about-btn" href="/treasure/login">天才寻宝</a>
        <a class="about-btn" href="/about">关于天才数独棋</a>
        <a class="contact-btn" href="/news">数独动态</a>
        <a class="contact-btn" href="/operation">操作指引</a>
        <a class="contact-btn" href="/guide">对战指南</a>
        <a class="law-btn" href="javascript:void(0);">法律声明</a>
        <a class="help-btn" href="/help">帮助</a>
        <a class="contact-btn" href="/contact">联系我们</a>
      </div>
    </div>
    <div class="welcome-area">
      <div class="content">
        <div class="video-area">
          <video src="/videos/su1707101510.mp4" controls="controls" autoplay>
          </video>
        </div>
        <div class="author-area">
          <div class="super-genius">
            <a class="logo" href="http://www.supergenius.cn/"><img src="imgs/default/welcome/logo.png"/></a>
            <img class="arrow" src="imgs/default/welcome/arrow.gif"/>
          </div>
          <img class="author" src="imgs/default/welcome/author.png"/>
        </div>
      </div>
      <div class="welcome-bottom">
        <a class="rich-button start" href="/login"></a>
      </div>
    </div>
  </body>
</html>
