<!DOCTYPE HTML>
<html>
  <head>
    {{> common_head }}
    <link href="{{@basecss}}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@basecss}}/welcome.css" rel="stylesheet" type="text/css" />
    <script src="{{@basejs}}/libs3/jquery-3.1.1.js"></script>
    <script src="{{@basejs}}/libs3/bootstrap.min.js"></script>
    <script src="{{@basejs}}/libs3/can.jquery.js"></script>
    <script src="{{@basejs}}/libs/components/utils.js"></script>
    <script src="{{@basejs}}/libs/components/dialog.js"></script>
    <script src="{{@basejs}}/libs/components/agreement.js"></script>
    <script src="{{@basejs}}/libs/welcome.js"></script>
    <script src="{{@basejs}}/libs/stats.js"></script>
  </head>
  <body class="welcome-body">
    <video class="welcome-bg" src="/videos/welcome.mp4" autoplay loop muted>
    </video>
    <div class="welcome-area">
      <div class="content">
        <div class="video-area">
          <video src="/videos/su1707101510.mp4" controls="controls" autoplay>
          </video>
        </div>
        <div class="author-area">
          <div class="super-genius">
            <a class="logo" href="http://www.supergenius.cn/"><img src="imgs/default/welcome/logo.png"/></a>
            <img class="arrow" src="imgs/default/welcome/arrow.gif"/>
          </div>
          <img class="author" src="imgs/default/welcome/author.png"/>
        </div>
      </div>
      <div class="welcome-bottom">
        <a class="rich-button start" href="/login"></a>
      </div>
    </div>
  </body>
</html>
